

body{
	background-color:#eeeeee;
}

form{
    width:100%;
    padding:0;
    margin:0;
    display:inline;
}

.form{
	
	width:400px;
	margin:0 auto;
}

.new-list-form{
	padding:6px;
	
}
.input-group{
    width:100%;
}


.clear-fix{
	clear:both;
}

.list-group-item p{
	margin:0px;
}

.material-icons{
	border-radius:100%;
	background-color:#dddddd;
	padding:4px;
	color:black;
	}


.left-side{
	display:flex;
	justify-content:left;
	align-items:center;
	margin:0px;
}

.task-title{
	font-size:15px;
}

.task-created{
	font-size:12px;
}

.task-left{
	margin:0px;
	margin-right:15px;
}

.task-middle{
	margin:0px;
}

.task-right{
	margin:0px;
	margin-left:auto;
}

h2.list-title{
	text-align:center;
}

@media only screen and (min-width:760px){
	.container{
		width:760px;
	}

}

@media only screen and (max-width:450px){
	.form{
		width:100%;
	}
}
