@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	box-sizing:border-box;
}

body{
	background-color:#fff;
	font-family:roboto;
}

form{
    width:100%;
    padding:0;
    margin:0;
    display:inline;
}

h2{
	font-size:40px;
	text-align:center;
}




.list-title-static{

}

.task-title-form, .task-title-span{
	display:none;
	
	
}

.task-title-change-input{
	width:400px;
	height:30px;
	font-size:20px;
	border:none;
	color:black;
	border-bottom:2px solid #bbbbbb;
	background-color:#eeeeee;

}

.list-title-form, .list-title-change-input{
	display:none;
}

.is-danger{
	color:red;
	font-size:20px;
	
}

.form{
	width:400px;
	margin:0 auto;
}

.new-list-form{
	padding:6px;
	text-overflow:ellipsis;
}

.new-list-form-input{
	height:30px;
	font-size:15px;
	padding:5px;
	width:100px;
	border:none;
	color:#fff;
	border-radius:2px;
	background-color:#111;
	margin-top:4px;
}
.new-list-form-input:focus{
	outline:none;
	
}


.new-task-form{
	width:100%;
	height:35px;
	font-size:28px;
	border:none;
	color:black;
	border-bottom:2px solid #bbbbbb;
	background-color:#fff;
}

.list-title-change-input{
	width:200px;
	height:35px;
	font-size:25px;
	border:none;
	color:black;
	border-bottom:2px solid #bbbbbb;
	background-color:#eeeeee;
}

.list-title-change-input:focus{
	outline:none;
}


.new-task-form:focus{
	outline:none;
	background-color:#fff;
	border-radius:5px;
	
	
}

.input-group{
    width:100%;
}


.clear-fix{
	clear:both;
}

.list-group-item{
	border-radius:5px;
	margin:6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 8px 16px 0 rgba(0, 0, 0, 0.06);
}

.list-group-item p{
	margin:0px;
	
}

.material-icons{
	padding:4px;
	color:black;
}
	
.alt-material-icon-style{
	border-radius:100%;
	background-color:#dddddd;
}

.left-side{
	display:flex;
	justify-content:left;
	align-items:center;
	margin:0px;
	margin-left:5px;
}

.task-title{
	font-size:20px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	display:inline-block;
}

.task-created{
	font-size:12px;
	display:none;
}

.task-left{
	margin:0px;
	margin-right:15px;
}

.task-middle{
	margin:0px;
	white-space:nowrap;
	overflow:hidden;
	display:inline-block;
	
	text-overflow:ellipsis;
}

.task-right{
	margin:0px;
	margin-left:auto;
	width:170px;
	white-space:nowrap;
	display:flex;
	justify-content:flex-end;
}

h2.list-title{
	text-align:center;
}

@media only screen and (min-width:760px){
	.container{
		width:760px;
	}

}

@media only screen and (max-width:450px){
	.form{
		width:100%;
		padding:10px;
	}
}
