<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="styles.css" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body onLoad="document.getElementById('eingabe').focus();">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DuMich</a>
    </div>

	<ul class="nav navbar-nav">
	  <li><a href="{{ url_for('index') }}">Alle</a></li>
	  <li><a href="{{ url_for('aktuelle_seite') }}">Aktuelle</a></li>
	  <li><a href="{{ url_for('fertig_seite') }}">Abgeschlossen</a></li>
	  <li><a href="{{ url_for('geloscht_seite') }}">Geloscht</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('registrieren') }}"><span class="glyphicon glyphicon-user"></span> Registrieren</a></li>
      <li><a href="{{ url_for('einloggen') }}"><span class="glyphicon glyphicon-log-in"></span> Anmelden</a></li>
    </ul>
  </div>
</nav>

{% block content %}
		
{% endblock %}



</body>
</html>
