<!DOCTYPE html>
<html lang="en">
<head>
  <title>DuMi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="styles.css" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	
	<script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
	
  </head>

<body onLoad="document.getElementById('eingabe').focus();">

<nav class="navbar navbar-inverse">
  
  <div class="container-fluid ">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">DuMi</a>
    </div>
	
	{% if session['user_id'] %}
	
	<div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('dashboard_show_lists') }}">Lists</a>
    </div>
	
	{% if current_list %}
	<ul class="nav navbar-nav">
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Filters <span class="caret"></span></a>
	 <ul class="dropdown-menu">
	  <li><a href="{{ url_for('dashboard') }}"><span class="glyphicon glyphicon-th-list"></span> All</a></li>
	  <li><a href="{{ url_for('dashboard_current') }}"><span class="glyphicon glyphicon-time"></span> Current</a></li>
	  <li><a href="{{ url_for('dashboard_important') }}"><span class="glyphicon glyphicon-star"></span> Important</a></li>
	  <li><a href="{{ url_for('dashboard_completed') }}"><span class="glyphicon glyphicon-ok"></span> Completed</a></li>
	  <li><a href="{{ url_for('dashboard_deleted') }}"><span class="glyphicon glyphicon-trash"></span> Deleted</a></li>
    </ul>
	</ul>
	{% endif %}
	
	
	
	<ul class="nav navbar-nav">
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick List<span class="caret"></span></a>
		<ul class="dropdown-menu">
		{% for list in lists %}
		
			{% if current_list %}
				<li><a href="{{ url_for('change_current_list', old_list_id=current_list.id, new_list_id=list.id) }}">{{ list.title }}</a></li>
			{% else %}
				<li><a href="{{ url_for('choose_current_list', new_list_id=list.id) }}">{{ list.title }}</a></li>
			{% endif %}
		
		{% endfor %}
		
		</ul>
	</ul>
	
	<ul class="nav navbar-nav new-list-form">
	<form action="{{ url_for('list_create') }}" method="POST">

			<input name="new_list" id="new_list" type="text" class="new-list-form-input" placeholder="New List..." required>

		</form>
	</ul>
	
	{% endif %}
	
	<!-- somehow, commented out jinja can still affect the code. Watch out! -->
	
	<ul class="nav navbar-nav navbar-right">
	  {% if session['user_id'] %}
	  <ul class="nav navbar-nav">
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> {{ g.user.name}} <span class="caret"></span></a>
	 <ul class="dropdown-menu">
	  <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	  <li><a href="{{ url_for('user_delete') }}" onclick="return confirm('Are you sure you want to permanently delete your account?')"><span class="glyphicon glyphicon-road"></span> Account Delete</a></li>
		</ul>
		</ul>
	  
	  {% else %}
      <li><a href="{{ url_for('registration_wtf') }}"><span class="glyphicon glyphicon-user"></span> Registration</a></li>
      <li><a href="{{ url_for('login_wtf') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  {% endif %}
	</ul>
  </div>
</nav>


{% block content %}
		
{% endblock %}



</body>
</html>
