{% extends "base.html" %}

{% block content %}

<div class="container">

  <h2 class="list-title">Welcom to DuMi</h2>
    <br>
	<div class="form-group">

		<form action="." method="POST">

			<input name="contents" id="eingabe" type="text" class="form-control" placeholder="Neue Aufgabe...">

		</form>

	</div>

	<br>

  <ul class="list-group">


    <li class="list-group-item">
	<div><a href="{{ url_for('registration') }}"><span>Registration</span></a></div>
	</li>
	<br>
	<li class="list-group-item">
	<div><a href="{{ url_for('login') }}"><span>Login</span></a></div>
	</li>
	<br>


	</ul>
	
</div>
{% endblock %}
