{% extends "base.html" %}

{% block content %}

<div class="container">

  <h2 class="list-title">Welcome to DuMi!</h2>
    <br>
	<br>
	
	<ul class="list-group admin-update-list">
		<li class="list-group-item admin-update-list-item">
			<h3 class="list-title admin-update-item-title">Introducing DuMi v0.1</h2>
				<hr>
				<p class="admin-update-item-p">Welcome to DuMi v0.1! ^^ 
				Thank-you for being here to celebrate the first pre-alpha milestone.
				You can now set up an account, log in, and get some work/play done.
				Updates will be appear here so if you want to know what's currently 
				happening, check back regularly! ~_^</p>
				<br>
				<p class="admin-update-item-p">Direct any questions or suggestions to: <s>yusef@dumidev.com</s></p>
				<hr>
				<p class="admin-update-item-p">Yours truly, Yusef</p>
				
		
		</li>
	</ul>
	

	
</div>
{% endblock %}
