{% extends 'base.html' %}



{% block content %}

<br>
<br>

<div class="form">
  <form method="post" >
  
    <h1>Login</h1>
	<div class="form-group">
	<label for="benutzername">Name</label><br>
    <input class="form-control" name="benutzername" id="benutzername" value="" required>
	</div>
	<br>
	
	<div class="form-group">
	<label for="kenntwort">password</label><br>
	<input class="form-control" type="kenntwort" name="kenntwort" id="kenntwort" required>
	</div>
	<br>

	<div class="form-group">
    <input class="form-control" type="submit" value="Log In">
	</div>
	
  </form>
	</div>
	
{% endblock %}