{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="list-title">Registrieren</h2>
    <br>
	<div class="form-group">
		<form action="." method="POST">
			<input name="contents" id="eingabe" type="text" class="form-control" placeholder="Benutzer Name..."> 
			<input name="contents" id="eingabe" type="text" class="form-control" placeholder="Email...">
			<input name="contents" id="eingabe" type="text" class="form-control" placeholder="Kenntwort...">
		</form>
	</div>
</div>
{% endblock %}