{% extends 'base.html' %}



{% block content %}

<br>
<br>

  <form method="post" class="form">
  
    <h1>Registration</h1>
	<div class="eingabe_kiste">
	<label for="benutzername">Name</label><br>
    <input class="input" name="benutzername" id="benutzername" value="" required>
	</div>
	<br>
	
	<div class="eingabe_kiste">
	<label for="email">Email</label><br>
    <input class="input" name="email" id="email" value="" required>
	</div>
	<br>
	
	<div class="eingabe_kiste">
	<label for="kenntwort">password</label><br>
	<input class="input" type="kenntwort" name="kenntwort" id="kenntwort" required>
	</div>
	<br>
	
	<div class="eingabe_kiste">
	<label for="kenntwort2">verify password</label><br>
	<input class="input" type="kenntwort2" name="kenntwort2" id="" required>
	</div>
	<br>
	
	
	<div class="eingabe_kiste">
    <input class="input" type="submit" value="Log In">
	</div>
	
  </form>

	
{% endblock %}