{% extends 'base.html' %}



{% block content %}

<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<br>

<div class="form">
  <form method="post" class="form">
  
    <h1>Registration</h1>
	<div class="form-group">
	<label for="username">Name</label><br>
    <input class="form-control" name="username" id="username" value="" required>
	</div>
	<br>
	
	<div class="form-group">
	<label for="email">Email</label><br>
    <input class="form-control" name="email" id="email" value="" required>
	</div>
	<br>
	
	<div class="form-group">
	<label for="password">password</label><br>
	<input class="form-control" type="password" name="password" id="password" required>
	</div>
	<br>
	
	<div class="form-group">
	<label for="password2">verify password</label><br>
	<input class="form-control" type="password2" name="password2" id="" required>
	</div>
	<br>
	
	
	<div class="form-group">
    <input class="input" type="submit" value="Log In">
	</div>
	
  </form>
</div>
	
{% endblock %}